In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv('Hotel Reservations.csv')

In [4]:
df

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [16]:
data=df[['no_of_adults','no_of_children', 'no_of_weekend_nights', 'no_of_week_nights','lead_time' ,'arrival_month', 'arrival_date', 'market_segment_type', 'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled','avg_price_per_room']]
data

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,lead_time,arrival_month,arrival_date,market_segment_type,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room
0,2,0,1,2,224,10,2,Offline,0,0,65.00
1,2,0,2,3,5,11,6,Online,0,0,106.68
2,1,0,2,1,1,2,28,Online,0,0,60.00
3,2,0,0,2,211,5,20,Online,0,0,100.00
4,2,0,1,1,48,4,11,Online,0,0,94.50
...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,85,8,3,Online,0,0,167.80
36271,2,0,1,3,228,10,17,Online,0,0,90.95
36272,2,0,2,6,148,7,1,Online,0,0,98.39
36273,2,0,0,3,63,4,21,Online,0,0,94.50
36274,2,0,1,2,207,12,30,Offline,0,0,161.67

In [9]:
from sklearn.preprocessing import LabelEncoder

# One-hot encode the categorical features
data = pd.get_dummies(data, columns=['market_segment_type'])

In [17]:
data

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,lead_time,arrival_month,arrival_date,market_segment_type,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room
0,2,0,1,2,224,10,2,Offline,0,0,65.00
1,2,0,2,3,5,11,6,Online,0,0,106.68
2,1,0,2,1,1,2,28,Online,0,0,60.00
3,2,0,0,2,211,5,20,Online,0,0,100.00
4,2,0,1,1,48,4,11,Online,0,0,94.50
...,...,...,...,...,...,...,...,...,...,...,...
36270,3,0,2,6,85,8,3,Online,0,0,167.80
36271,2,0,1,3,228,10,17,Online,0,0,90.95
36272,2,0,2,6,148,7,1,Online,0,0,98.39
36273,2,0,0,3,63,4,21,Online,0,0,94.50
36274,2,0,1,2,207,12,30,Offline,0,0,161.67

In [18]:
x=data[['no_of_adults','no_of_children', 'no_of_weekend_nights', 'no_of_week_nights','lead_time', 'no_of_previous_cancellations']]
y=df['booking_status']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [23]:
from lazypredict.Supervised import LazyClassifier
clf = LazyClassifier()
models = clf.fit(X_train, X_test, y_train, y_test)

100%|██████████| 29/29 [02:19<00:00,  4.81s/it]

[LightGBM] [Info] Number of positive: 17114, number of negative: 8278
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001138 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 295
[LightGBM] [Info] Number of data points in the train set: 25392, number of used features: 6
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.673992 -> initscore=0.726295
[LightGBM] [Info] Start training from score 0.726295

In [24]:
print(models)

(                               Accuracy  Balanced Accuracy ROC AUC  F1 Score  \
Model
RandomForestClassifier             0.78               0.73    None      0.78
ExtraTreesClassifier               0.77               0.73    None      0.77
BaggingClassifier                  0.78               0.73    None      0.77
ExtraTreeClassifier                0.77               0.73    None      0.77
DecisionTreeClassifier             0.77               0.73    None      0.77
LGBMClassifier                     0.79               0.72    None      0.78
KNeighborsClassifier               0.77               0.71    None      0.76
LabelSpreading                     0.78               0.70    None      0.76
LabelPropagation                   0.78               0.70    None      0.76
AdaBoostClassifier                 0.77               0.69    None      0.75
NuSVC                              0.77               0.69    None      0.75
NearestCentroid                    0.71               0.68    None      0.71
GaussianNB                         0.74               0.68    None      0.73
QuadraticDiscriminantAnalysis      0.74               0.68    None      0.73
SGDClassifier                      0.75               0.68    None      0.74
BernoulliNB                        0.71               0.67    None      0.71
LinearDiscriminantAnalysis         0.75               0.67    None      0.73
CalibratedClassifierCV             0.76               0.67    None      0.73
LinearSVC                          0.76               0.67    None      0.73
LogisticRegression                 0.75               0.67    None      0.73
RidgeClassifier                    0.76               0.67    None      0.73
RidgeClassifierCV                  0.76               0.67    None      0.73
SVC                                0.76               0.66    None      0.73
PassiveAggressiveClassifier        0.54               0.60    None      0.54
DummyClassifier                    0.67               0.50    None      0.54
Perceptron                         0.52               0.45    None      0.52

                               Time Taken
Model
RandomForestClassifier               1.57
ExtraTreesClassifier                 1.39
BaggingClassifier                    0.35
ExtraTreeClassifier                  0.15
DecisionTreeClassifier               0.16
LGBMClassifier                       0.21
KNeighborsClassifier                 0.76
LabelSpreading                      51.32
LabelPropagation                    14.34
AdaBoostClassifier                   1.36
NuSVC                               36.23
NearestCentroid                      0.16
GaussianNB                           0.13
QuadraticDiscriminantAnalysis        0.15
SGDClassifier                        0.18
BernoulliNB                          0.16
LinearDiscriminantAnalysis           0.21
CalibratedClassifierCV               3.23
LinearSVC                            1.00
LogisticRegression                   0.17
RidgeClassifier                      0.16
RidgeClassifierCV                    0.17
SVC                                 25.60
PassiveAggressiveClassifier          0.12
DummyClassifier                      0.11
Perceptron                           0.13  ,                                Accuracy  Balanced Accuracy ROC AUC  F1 Score  \
Model
RandomForestClassifier             0.78               0.73    None      0.78
ExtraTreesClassifier               0.77               0.73    None      0.77
BaggingClassifier                  0.78               0.73    None      0.77
ExtraTreeClassifier                0.77               0.73    None      0.77
DecisionTreeClassifier             0.77               0.73    None      0.77
LGBMClassifier                     0.79               0.72    None      0.78
KNeighborsClassifier               0.77               0.71    None      0.76
LabelSpreading                     0.78               0.70    None      0.76
LabelPropagation                   0.78               0.70    None      0.76
AdaBoostClassifier                 0.77               0.69    None      0.75
NuSVC                              0.77               0.69    None      0.75
NearestCentroid                    0.71               0.68    None      0.71
GaussianNB                         0.74               0.68    None      0.73
QuadraticDiscriminantAnalysis      0.74               0.68    None      0.73
SGDClassifier                      0.75               0.68    None      0.74
BernoulliNB                        0.71               0.67    None      0.71
LinearDiscriminantAnalysis         0.75               0.67    None      0.73
CalibratedClassifierCV             0.76               0.67    None      0.73
LinearSVC                          0.76               0.67    None      0.73
LogisticRegression                 0.75               0.67    None      0.73
RidgeClassifier                    0.76               0.67    None      0.73
RidgeClassifierCV                  0.76               0.67    None      0.73
SVC                                0.76               0.66    None      0.73
PassiveAggressiveClassifier        0.54               0.60    None      0.54
DummyClassifier                    0.67               0.50    None      0.54
Perceptron                         0.52               0.45    None      0.52

                               Time Taken
Model
RandomForestClassifier               1.57
ExtraTreesClassifier                 1.39
BaggingClassifier                    0.35
ExtraTreeClassifier                  0.15
DecisionTreeClassifier               0.16
LGBMClassifier                       0.21
KNeighborsClassifier                 0.76
LabelSpreading                      51.32
LabelPropagation                    14.34
AdaBoostClassifier                   1.36
NuSVC                               36.23
NearestCentroid                      0.16
GaussianNB                           0.13
QuadraticDiscriminantAnalysis        0.15
SGDClassifier                        0.18
BernoulliNB                          0.16
LinearDiscriminantAnalysis           0.21
CalibratedClassifierCV               3.23
LinearSVC                            1.00
LogisticRegression                   0.17
RidgeClassifier                      0.16
RidgeClassifierCV                    0.17
SVC                                 25.60
PassiveAggressiveClassifier          0.12
DummyClassifier                      0.11
Perceptron                           0.13  )