In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
df = pd.read_csv("ML.csv", names=['Population','Profit'])
df.head()

   Population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  97 non-null     float64
 1   Profit      97 non-null     float64
dtypes: float64(2)
memory usage: 1.6 KB

In [6]:
df.isnull().sum()

Population    0
Profit        0
dtype: int64

In [7]:
df.shape

(97, 2)

In [19]:
x=df['Population']
y=df['Profit']
x=x.values.reshape(-1,1)
y=y.values.reshape(-1,1)
print(x.shape)

(97, 1)

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(87, 1)
(10, 1)
(87, 1)
(10, 1)

In [31]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(87, 1)
(10, 1)
(87, 1)
(10, 1)

In [33]:
model = LinearRegression()
model.fit(x_train, y_train)
predicted = model.predict(x_test)
score= model.score(x_test,y_test)
print(score)

0.9020323328400159